.idea/
.env
__pycache__/
.pytest_cache
site/
.DS_Store
The New York herald. [volume]/
postprocess_data/
sample_data/
*.json
diachronic_hwe/hwe/assets/*
diachronic_hwe/hwe/models/*
diachronic_hwe/hwe/packages/*
samples_compressed/*
words/*
output/
input/
*.tsv
